.hero-section-wrapper{
    margin-bottom: 170px;
    padding: 134px 80px;
    background-image: url(../images/Bitmap.jpg);
    background-repeat: no-repeat;
    background-size: 1280px;
}

.hero-section__heading{
    font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #FEFCF7;

}

.hero-section__discription{
    width: 450px;
    font-family: 'Barlow';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;

}

